@page "/roles"
@using Admin.Components.Pages

@inherits RolesBase

<h1>Roles</h1>

<p>Roles are assigned to registered users.</p>
<button class="btn btn-primary btn-sm" onclick="@Add">Add Role</button>

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
    </tr>

    @foreach (var role in roles)
    {
        if (role.__tag == "edit")
        {
            <tr>
                <td>
                    <input bind="@role.Name" class="form-control" />
                </td>
                <td>
                    <input bind="@role.Description" class="form-control" />
                </td>
                <td>
                    <button onclick="@(e => SaveAsync(role))" class="btn btn-primary btn-sm">Save</button>
                    <button onclick="@(e => CancelAsync(role))" class="btn btn-primary btn-sm">Cancel</button>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>@role.Name</td>
                <td>@role.Description</td>
                <td>
                    <button onclick="@(e => Edit(role))" class="btn btn-primary btn-sm">Edit</button>
                    <button onclick="@(e => DeleteAsync(role))" class="btn btn-primary btn-sm">Delete</button>
                </td>
            </tr>
        }
    }
</table>