@page "/images"
@inherits ImagesComponent
    <BasePage Title="Images" Items="@Items" Item="@Item" OnAdd="@Add" OnEdit="@((Image e)=>Edit(e))" OnDelete="@((Image e)=>DeleteAsync(e))"
              Summary="Central image collection to provide images for offers, categories and products etc." OnFormSave="@SaveAsync" OnFormCancel="@CancelAsync">
        <TableHeader>
            <th>Name</th>
            <th>Width</th>
            <th>Height</th>
            <th>Meta</th>
            <th>Active</th>
        </TableHeader>
        <TableBody Context="item">
            <td>@item.Name</td>
            <td>@(item.Width)px</td>
            <td>@(item.Height)px</td>
            <td>@item.Meta</td>
            <td>@item.Active</td>
        </TableBody>
        <FormBody Context="item">
            <div class="form-group">
                <label class="text-primary">Name</label>
                <InputText bind-Value="@item.Name" Class="form-control" />
            </div>
            <div class="form-group">
                <label class="text-primary">Title</label>
                <InputText bind-Value="@item.Title" Class="form-control" />
            </div>
            <div class="form-group">
                <label class="text-primary">Description</label>
                <InputTextArea bind-Value="@item.Description" Class="form-control" />
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label class="text-primary">Size</label>
                    <input type="number" bind="@item.Size" readonly class="form-control" />
                </div>
                <div class="form-group col">
                    <label class="text-primary">Width</label>
                    <input type="number" bind="@item.Width" readonly class="form-control" />
                </div>
                <div class="form-group col">
                    <label class="text-primary">Height</label>
                    <input type="number" bind="@item.Height" readonly class="form-control" />
                </div>
                <div class="form-group col">
                    <label class="text-primary">Meta</label>
                    <input type="text" bind="@item.Meta" readonly class="form-control" />
                </div>
                <div class="form-group col">
                    <label class="text-primary">Version</label>
                    <input type="number" bind="@item.Version" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <InputImage Url="@(Api.BaseAddress+item.Url)" bind-Data="@item.Data" bind-Size="@item.Size" bind-Width="@item.Width" bind-Height="@item.Height" bind-Meta="@item.Meta" bind-Version="@item.Version" />
            </div>
        </FormBody>
    </BasePage>