@page "/roles"
@inherits RolesComponent

<BasePage Title="Roles" Summary="Roles are assigned to registered users." Items="@items" Item="@item" OnFormSave="@SaveAsync">
    <TopControls>
        <button onclick="@Add" class="btn btn-primary btn-sm">Add Role</button>
    </TopControls>
    <TableHeader>
        <th>Name</th>
        <th>Description</th>
        <th></th>
    </TableHeader>
    <TableBody Context="item">
        <td>@item.Name</td>
        <td>@item.Description</td>
        <td>
            <button onclick="@(e => Edit(item))" class="btn btn-primary btn-sm">Edit</button>
            <Confirm OnClick="@(e => DeleteAsync(item))" Ask="Are you sure you want to delete?">Delete</Confirm>
        </td>
    </TableBody>
    <FormBody Context="item">
        <div class="form-group">
            <label>Role Name</label>
            <InputText bind-Value="@item.Name" Class="form-control"></InputText>
        </div>
        <div class="form-group">
            <label>Description</label>
            <InputText bind-Value="@item.Description" Class="form-control"></InputText>
        </div>
        
        <div>
            <Confirm OnClick="@CancelAsync" Ask="Are you sure you want to cancel changes?">Cancel</Confirm>
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
        </div>
    </FormBody>
</BasePage>