@page "/users"
@inherits UsersComponent

<BasePage Title="Users" Items="@Items" Item="@Item" OnAdd="@Add" OnEdit="@((AppUser e)=>Edit(e))" OnDelete="@((AppUser e)=>DeleteAsync(e))"
          Summary="Registered users can access resources based on assigned roles." OnFormSave="@SaveAsync" OnFormCancel="@CancelAsync">
    <TableHeader>
        <th>Name</th>
        <th>Email</th>
    </TableHeader>
    <TableBody Context="item">
        <td>@item.Name</td>
        <td>@item.Email</td>
    </TableBody>
    <FormBody Context="item">
        <div class="form-group">
            <label class="text-primary">Name</label>
            <InputText bind-Value="@item.Name" Class="form-control" />
        </div>
        <div class="form-group">
            <label class="text-primary">Email</label>
            <input type="email" bind="@item.Email" Class="form-control" />
        </div>
        <div class="form-group">
            <label class="text-primary">Password</label>
            <input type="password" bind="@item.Password" Class="form-control" />
        </div>
    </FormBody>
</BasePage>