@page "/users"
@inherits UsersComponent

<BasePage Title="Users" Items="@items" Item="@item" OnAdd="@Add" OnEdit="@((AppUser e)=>Edit(e))" OnDelete="@((AppUser e)=>DeleteAsync(e))"
          Summary="Registered users can access resources based on assigned roles." OnFormSave="@SaveAsync" OnFormCancel="@CancelAsync">
    <TableHeader>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
    </TableHeader>
    <TableBody Context="item">
        <td>@item.FirstName</td>
        <td>@item.LastName</td>
        <td>@item.Email</td>
    </TableBody>
    <FormBody Context="item">
        <div class="form-group">
            <label class="text-primary">First Name</label>
            <InputText bind-Value="@item.FirstName" Class="form-control"></InputText>
        </div>
        <div class="form-group">
            <label class="text-primary">Last Name</label>
            <InputText bind-Value="@item.LastName" Class="form-control"></InputText>
        </div>
        <div class="form-group">
            <label class="text-primary">Email</label>
            <input type="email" bind="@item.Email" Class="form-control" />
        </div>
        <div class="form-group">
            <label class="text-primary">Password</label>
            <input type="password" bind="@item.Password" Class="form-control" />
        </div>
    </FormBody>
</BasePage>