@page "/users"
@inherits UsersComponent

<BasePage Title="Users" Summary="Registered users can access resources based on assigned roles." Items="@items" Item="@item" OnFormSave="@SaveAsync">
    <TopControls>
        <button onclick="@Add" class="btn btn-primary btn-sm">Add User</button>
    </TopControls>
    <TableHeader>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th></th>
    </TableHeader>
    <TableBody Context="item">
        <td>@item.FirstName</td>
        <td>@item.LastName</td>
        <td>@item.Email</td>
        <td>
            <button onclick="@(e=>Edit(item))" class="btn btn-primary btn-sm">Edit</button>
            <Confirm OnClick="@(e=>DeleteAsync(item))" Ask="Are you sure you want to delete?">Delete</Confirm>
        </td>
    </TableBody>
    <FormBody Context="item">
        <div class="form-group">
            <label>First Name</label>
            <InputText bind-Value="@item.FirstName" Class="form-control"></InputText>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <InputText bind-Value="@item.LastName" Class="form-control"></InputText>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" bind="@item.Email" Class="form-control" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" bind="@item.Password" Class="form-control" />
        </div>
        <div>
            <Confirm OnClick="@CancelAsync" Ask="Are you sure you want to cancel changes?">Cancel</Confirm>
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
        </div>
    </FormBody>
</BasePage>